<div class="col-md-5 mx-auto">
	<div class="card">
		<div class="card-header">
			<i>&#xe825;</i>
			<span>Añadir archivo</span>
		</div>
		<div class="card-body">
			<form action="/articles/new-article" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<input type="text" name="title" class="form-control" placeholder="Título">
				</div>
				<div class="form-group mb-4">
					<label for="fileImage">Imagen portada</label>
					<input id="fileImage" type="file" name="image">
				</div>
				<div class="form-group mb-4">
					<label for="fileArticle">Artículo</label>
					<input id="fileArticle" type="file" name="body">
				</div>
				<div class="form-group mt-4">
					<button class="btn btn-primary w-100" type="submit">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>