<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/all.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
	<title>Fondo Editorial</title>
</head>
<body>
    {{> navigation}}

	
	<main class="container py-5">
        {{> messages}}
        {{> errors}}
		{{{body}}}
	</main>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>