<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card">
			<div class="card-header pt-4">
				<h3><i>&#xe81d;</i> Bienvenido</h3>
			</div>
			<div class="card-body">
				<form action="/users/signin" method="POST">
					<div class="form-group">
						<input type="email" name="email" class="form-control" placeholder="Email" autofocus>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-block" type="submit">Ingresar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>